@import "tailwindcss";

:root {
  --near-black: #04080F;
  --primary: #0A1322;
  --foreground: #e4e4e4;
  --secondary: #102373;
  --orange: #bf8143;
  --primary-light:#0F1B2E;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #0A1322;
  --color-secondary: #102373;
  --color-orange: #bf8143;
  --color-primary-light:#0F1B2E;
  --color-near-black:#04080F;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-bigshoulders: 'Big Shoulders', sans-serif;
  --font-hankengrotesk: 'Hanken Grotesk', sans-serif;
  --font-jetbrainsmono: 'JetBrains Mono', monospace;
  --animate-marquee: marquee 60s linear infinite;
}

@media (prefers-color-scheme: dark) {}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: var(--font-hankengrotesk);
}