@import "tailwindcss";

:root {
  --primary: #0A1322;
  --foreground: #e4e4e4;
  --secondary: #102373;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #0A1322;
  --color-secondary: #102373;
  --color-orange: #bf8143;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-bigshoulders: 'Big Shoulders', sans-serif;
  --font-hankengrotesk: 'Hanken Grotesk', sans-serif;
  --font-jetbrainsmono: 'JetBrains Mono', monospace;
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: var(--font-hankengrotesk);
}